body {
    font-family: Arial, sans-serif;
    padding: 0;
    margin: 0;
}
.chat-container {
    max-width: 400px;
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
}
.chat-messages {
    height: 300px;
    overflow: y-scroll;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
.chat-input input{
    width: 70%;
    padding: 5px;
    margin-right: 5px;
}
.chat-input button {
    padding: 5px 10px;
}